.ui.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  width: min(100%, 450px);
  height: 40px;
  padding: 4px;
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.975);
  border-radius: 2px;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 5%);
}

.input-wrapper .ui.input {
  width: 100%;
}

.input-wrapper .ui.input > input {
  padding: 0;
  border: none;
  font-weight: 300;
}
